@page "/account/orders"
@using BlazorElectronics.Shared.Orders
@inherits UserPage
@using BlazorElectronics.Client.Shared

<div class="container-sm mt-3" style="max-width: 1000px;">
    <PageLoader Page="@this"></PageLoader>
    
    @if ( PageIsReady() )
    {
        <AlertMessage Page="@this"></AlertMessage>

        <div class="d-flex flex-column flex-lg-row gap-3">

            <UserAccountNav></UserAccountNav>
            
            <div class="p-3 w-100 flex-grow-1 d-flex flex-column ms-lg-3 bg-light border border-grey">
                <h1>Order History</h1>
                
                @if ( _orders.Count <= 0 )
                {
                    <span>No orders found.</span>
                }
                else
                {
                    <table>
                        <thead class="thead-light">
                        <tr>
                            <th>Order Date</th>
                            <th>Total Price</th>
                            <th>Number Items</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach ( OrderOverviewDto o in _orders )
                        {
                            <tr>
                                <td>@o.OrderDate</td>
                                <td>@o.TotalPrice</td>
                                <td>@o.NumberItems</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    }
</div>