@page "/admin/specs/edit"
@inherits AdminPage

<div class="container-sm">
    @if ( PageIsRedirecting )
    {
        <div class="loading-container">
            <div class="loading-circle"></div>
            <p>@ViewMessage</p>
            <p>Redirecting in @PageRedirectCountdown...</p>
        </div>
    }
    else if ( !PageIsReady() )
    {
        <span>@ViewMessage</span>
    }
    else
    {
        if ( _newSpec )
        {
            <h3>Create New Spec Lookup</h3>
        }
        else
        {
            <h3>Edit Spec Lookup</h3>
        }
        
        <EditForm Model="_dto" OnSubmit="( async () => await Submit() )">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <InputText @bind-Value="_dto.SpecName" class="form-control" id="Name"></InputText>
            </div>
            <div class="mb-3 form-check">
                <label for="IsGlobal" class="form-check-label">Is Global</label>
                <InputCheckbox @bind-Value="_dto.IsGlobal" class="form-check-input" id="IsGlobal" />
            </div>
            <div class="mb-3">
                <label for="Categories" class="form-label">Primary Categories, separate by comma.</label>
                <InputText @bind-Value="_dto.PrimaryCategoriesAsString" class="form-control" id="Categories"></InputText>
            </div>
            <div class="mb-3">
                <label for="Values" class="form-label">Values, ordered by Id, separate by comma.</label>
                <InputTextArea @bind-Value="_dto.ValuesByIdAsString" class="form-control" id="Values"></InputTextArea>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="oi oi-cloud-upload"></i>
            </button>
        </EditForm>

        if ( !string.IsNullOrWhiteSpace( ActionMessage ) )
        {
            <div class="@ActionMessageClass">
                <span>@ActionMessage</span>
            </div>
        }
    }
</div>