@using BlazorElectronics.Client.Services.Features
@using BlazorElectronics.Shared.Features
@inherits RazorView

@if ( _deals is not null )
{
    foreach ( FeaturedDeal d in _deals )
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="@d.Image" class="card-img-top" alt="@d.ProductName">
                    <div class="card-body">
                        <h5 class="card-title">@d.ProductName</h5>
                        <span class="text-muted">@d.Price</span>
                        <span class="price">@d.SalePrice</span>
                    </div>
                </div>
            </div>
        </div>
    }
}