@using BlazorElectronics.Client.Shared
@using BlazorElectronics.Shared.Features
@inherits RazorView

@if ( _featuredProducts is not null )
    {<div class="featured-products-container">
        <div id="featured-products-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @for ( int i = 0; i < _featuredProducts.Count; i++ )
                {
                    <button
                        type="button"
                        data-bs-target="#featured-products-carousel"
                        data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"
                        aria-current="@(i == 0 ? "true" : "false")"
                        aria-label="Slide @i">
                    </button>
                }
            </div>
            <div class="carousel-inner">
                @foreach ( FeaturedProductDto p in _featuredProducts )
                {
                    <div class="carousel-item fp-carousel-item @(p == _featuredProducts.First() ? "active" : "")">
                        <img class="d-block w-100 fp-carousel-item-img" src="@p.ImageUrl" alt="@p.ProductId"/>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#featured-products-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#featured-products-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="category-list-container">
                <CategoryList></CategoryList>
            </div>
            <div class="featured-products-fade">
            </div>
        </div>
    </div>}
}