@page "/admin/bulk/categories"
@using BlazorElectronics.Shared.Enums
@using BlazorElectronics.Shared.Categories
@using BlazorElectronics.Client.Shared
@inherits AdminPage

<div class="container-sm form-wrapper">
    <PageLoader Page="@this"></PageLoader>
    
    @if ( PageIsReady() )
    {
        <AlertMessage Page="@this"></AlertMessage>
        
        <div class="form-header">
            <h3>Bulk Insert Categories</h3>
            <button class="btn btn-primary" type="button" @onclick="@NewBulk">
                <span class="oi oi-plus"></span> New Bulk
            </button>
        </div>
        
        <EditForm Model="_seed" OnSubmit="( async () => await Submit() )">
            <div class="mb-3">
                <label for="Tier" class="form-label">Category Tier</label>
                <InputSelect @bind-Value="_seed.Tier" class="form-control" id="Tier">
                    @foreach ( CategoryTier tier in Enum.GetValues<CategoryTier>() )
                    {
                        if ( tier == CategoryTier.Primary )
                            continue;
                        <option value="@tier.ToString()">@tier</option>
                    }
                </InputSelect>
            </div>
            
            @if ( _seed.Tier == CategoryTier.Tertiary )
            {
                <div class="mb-3">
                    <label for="Tier" class="form-label">Primary Category</label>
                    <InputSelect @bind-Value="_seed.PrimaryId" class="form-control" id="Primary">
                        @foreach ( CategoryViewDtoDto item in GetPrimary() )
                        {
                            <option value="@item.Id.ToString()">@item.Name</option>
                        }
                    </InputSelect>
                </div>
            }

            <div class="mb-3">
                <label for="Parent" class="form-label">Parent Category</label>
                <InputSelect @bind-Value="_seed.ParentCategoryId" class="form-control" id="Parent">
                    @foreach ( CategoryViewDtoDto item in GetEditParents() )
                    {
                        <option value="@item.Id.ToString()">@item.Name</option>
                    }
                </InputSelect>
            </div>
            
            <div class="mb-3">
                <label for="Names" class="form-label">Names: separated by comma</label>
                <InputTextArea @bind-Value="_seed.Names" class="form-control" id="Names"></InputTextArea>
            </div>
            
            <FormSubmit Page="@this"></FormSubmit>
        </EditForm>
    }
</div>