@page "/product/{productId}"
@inherits PageView
@using BlazorElectronics.Client.Shared
@using BlazorElectronics.Shared.Categories
@using BlazorElectronics.Shared.Reviews

<div class="mx-auto product-details-container">
    <PageLoader Page="@this"></PageLoader>
    
    <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Share Link</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@NavManager.Uri</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @if ( PageIsReady() && _product is not null )
    {
        <div class="mt-4 d-flex flex-column">
            <div class="d-flex flex-column flex-md-row justify-content-start bg-light">
                
                <!-- Carousel -->
                <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @for ( int i = 0; i < _product.Images.Count; i++ )
                        {
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"
                                    aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @i">
                            </button>
                        }
                    </div>
                    <div class="carousel-inner">
                        @foreach ( string image in _product.Images )
                        {
                            <div class="carousel-item @( image == _product.Images.First() ? "active" : "" )">
                                <img src="@image" class="d-block w-100 product-details-image" alt="Product Image">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!-- Overview -->
                <div class="d-flex flex-column flex-grow-1 p-3 bg-light">
                    <div>
                        <h2 class="py-3 fw-bold">@_product.Title</h2>

                        <!-- Rating, Review, Share -->
                        <div class="mb-3 pb-3 d-flex flex-row align-items-center justify-content-between border-bottom border-grey">
                            <div class="d-flex flex-row align-items-center flex-wrap">
                                <StarRating Rating="@_product.Rating"></StarRating>
                                <button class="btn btn-link p-0 ms-2 me-2" onclick="document.getElementById('ProductReviews').scrollIntoView({behavior:'smooth'})">( @_product.NumberReviews )</button>
                                <a href="@Routes.REVIEW/?product=@_product.Id">Write a review</a>
                            </div>
                            <button class="btn btn btn-outline-secondary btn-icon product-overview-button" data-bs-toggle="modal" data-bs-target="#shareModal">
                                <i class="oi oi-share-boxed"></i>
                                Share
                            </button>
                        </div>

                        <!-- Vendor -->
                        <div class="mb-3 pb-3 d-flex flex-row align-items-center justify-content-between border-bottom border-grey">
                            <div>
                                <span class="small">Sold by: </span>
                                <span class="fw-bold">
                                    <a href="@_vendor.VendorUrl">@_vendor.VendorName</a>
                                </span>
                            </div>
                            <div>
                                <span class="small">See more by: </span>
                                <span class="fw-bold">
                                    <a href="@Routes.SEARCH?vendorId=@_vendor.VendorId">@_vendor.VendorName</a>
                                </span>
                            </div>
                        </div>

                        <!-- Price, Cart -->
                        <div class="mb-3 pb-3 d-flex flex-row align-items-center justify-content-between border-bottom border-grey">
                            <div>
                                @if ( _product.SalePrice is not null )
                                {
                                    <div>
                                        <span class="original-price">$@_product.Price</span>
                                        <span class="sale-price">$@_product.SalePrice</span>
                                    </div>
                                }
                                else
                                {
                                    <span class="price">$@_product.Price</span>
                                }
                            </div>
                            <button class="btn btn-primary product-overview-button">Add to Cart</button>
                        </div>
                        
                        <!-- Categories -->
                        <div>
                            <div class="product-categories">
                                @foreach ( CategoryFullDto c in _categories )
                                {
                                    <a class="d-inline-block btn btn-sm btn-outline-secondary me-2 mb-2" href="@Routes.SEARCH/@c.ApiUrl">@c.Name</a>
                                }
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="mt-3 p-3 bg-light">
                <h3>Description</h3>
                <p class="product-description mb-0 overflow-auto">@_product.Description</p>
            </div>
            
            <!-- Specs -->
            <div class="mt-3 p-3 bg-light">
                <h3>Specifications</h3>
                <table class="table table-bordered">
                    <tbody>
                    @foreach ( KeyValuePair<string, string> kvp in _product.XmlSpecsAggregated )
                    {
                        <tr>
                            <th class="bg-white p-3">@kvp.Key</th>
                            <td class="p-3">@kvp.Value</td>
                        </tr>
                    }
                    @foreach ( KeyValuePair<string, string> kvp in _lookupSpecsAggregated )
                    {
                        <tr>
                            <th class="bg-white p-3">@kvp.Key</th>
                            <td class="p-3 wrap-text">@kvp.Value</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            
            <!-- Reviews -->
            <div id="ProductReview" class="mt-3 p-3 bg-light">
                <!-- Review Header -->
                <div class="d-flex flex-row flex-wrap align-items-center justify-content-between bg-light">
                    <div class="flex-grow-1 d-flex flex-grow-1 align-items-center">
                        <h3 class="me-3">Reviews</h3>
                        <span class="text-muted"><small>@_reviewCount reviews</small></span>
                    </div>
                    <div class="product-review-buttons">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle me-2" type="button" id="Rows" data-bs-toggle="dropdown" aria-expanded="false">
                                Rows: @_productReviewsGetDto.Rows
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="Rows">
                                @for ( int i = 0; i < _reviewsPerPageOptions.Count; i++ )
                                {
                                    int localIndex = i; // Create a local copy of the loop variable
                                    <li><button class="dropdown-item" type="button" @onclick="async () => await SelectReviewRows( localIndex )">@_reviewsPerPageOptions[ localIndex ]</button></li>
                                }
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="SortBy" data-bs-toggle="dropdown" aria-expanded="false">
                                Order by: @_reviewSortOptions[ ( int ) _productReviewsGetDto.SortType - 1 ]
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="SortBy">
                                @for ( int i = 0; i < _reviewSortOptions.Count; i++ )
                                {
                                    int localIndex = i; // Create a local copy of the loop variable
                                    <li><button class="dropdown-item" type="button" @onclick="async () => await SelectReviewSort( localIndex )">@_reviewSortOptions[ localIndex ]</button></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- Review List -->
                <div class="mt-3 mb-3">
                    @foreach( ProductReviewDto review in _reviews )
                    {
                        <div class="border-bottom border-grey">
                            <div class="d-flex flex-row align-items-center justify-content-between">
                                <div>
                                    <strong>@review.Username</strong>
                                    <StarRating Rating="@review.Rating"></StarRating>
                                </div>
                                <small class="text-muted">@review.Date</small>
                            </div>
                            <div>
                                <p>@review.Review</p>
                            </div>
                        </div>
                    }
                </div>
                
                <!-- Review Pagination -->
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <Pagination @ref="_pagination" OnPageChange="@SelectReviewPage"></Pagination>
                </div>
            </div>
        </div>
    }
</div>