@using BlazorElectronics.Shared
@using BlazorElectronics.Shared.Categories
@using BlazorElectronics.Shared.Specs
@using BlazorElectronics.Client.Shared
@using BlazorElectronics.Shared.Vendors
@inherits RazorView

<div class="product-filters border border-grey p-3 bg-light @_showFiltersCss">

    <div class="d-flex flex-row justify-content-between mb-3">
        <h3 class="text-decoration-underline m-0 mb-lg-3 p-0">Filters</h3>
        <button class="btn btn-outline-secondary product-filters-exit ms-3" onclick="@HideFilters">
            <i class="oi oi-x"></i>
        </button>
    </div>
    
    <div class="d-grid w-100">
        <button class="btn btn-outline-primary w-100" type="button" @onclick="@( async () => await ApplyFilters() )">Apply Filters</button>
    </div>

    @if ( _subCategories is not null )
    {
        <div class="product-filters-section d-grid">
            <button class="btn product-filters-button" type="button" @onclick="() => ToggleSectionCollapse( SECTION_CATEGORY )">
                <span>Sub-Categories</span>
                <i class="oi @GetCollapseIcon( SECTION_CATEGORY )"></i>
            </button>
            <div class="@GetCollapseDisplay( SECTION_CATEGORY )">
                <ul class="list-unstyled d-flex flex-column">
                    @foreach ( CategoryFullDto c in _subCategories )
                    {
                        <a class="link-dark text-decoration-none" href="@Routes.SEARCH/@c.ApiUrl/@_searchText">@c.Name</a>
                    }
                </ul>
            </div>
        </div>
    }

    <div class="product-filters-section d-grid">
        <button class="btn product-filters-button" type="button" @onclick="() => ToggleSectionCollapse( SECTION_TRENDS )">
            <span>Trends/Availability</span>
            <i class="oi @GetCollapseIcon( SECTION_TRENDS )"></i>
        </button>
        <div class="@GetCollapseDisplay( SECTION_TRENDS )">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="InStock" @bind="@_filters.InStock">
                <label for="InStock" class="form-check-label">In Stock</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="Featured" @bind="@_filters.Featured">
                <label for="Featured" class="form-check-label">Featured</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="Sale" @bind="@_filters.OnSale">
                <label for="Sale" class="form-check-label">On Sale</label>
            </div>
        </div>
    </div>

    <div class="product-filters-section d-grid">
        <button class="btn product-filters-button" type="button" @onclick="() => ToggleSectionCollapse( SECTION_PRICE )">
            <span>Pricing</span>
            <i class="oi @GetCollapseIcon( SECTION_PRICE )"></i>
        </button>
        <div class="@GetCollapseDisplay( SECTION_PRICE )">
            <div class="d-flex justify-content-between">
                <div class="me-1 filter-pricing">
                    <small class="text-muted">Min</small>
                    <input type="number" class="form-control" id="minPrice" aria-label="Minimum price" @bind="@_filters.MinPrice">
                </div>
                <div class="ms-1 filter-pricing">
                    <small class="text-muted">Max</small>
                    <input type="number" class="form-control" id="maxPrice" aria-label="Maximum price" @bind="@_filters.MaxPrice">
                </div>
            </div>
        </div>
    </div>

    <div class="product-filters-section d-grid">
        <button class="btn product-filters-button" type="button" @onclick="() => ToggleSectionCollapse( SECTION_RATING )">
            <span>User Rating</span>
            <i class="oi @GetCollapseIcon( SECTION_RATING )"></i>
        </button>
        <div class="@GetCollapseDisplay( SECTION_RATING )">
            <div class="d-flex flex-column ">
                @for ( int i = 5; i >= 1; i-- )
                {
                    int index = i;
                    <button type="button" class="btn mb-2 ps-0 d-flex justify-content-start align-items-center" @onclick="() => SetMinimumRating( index )">
                        <StarRating Rating="@index" ></StarRating>
                        & up
                    </button>
                }
            </div>
        </div>
    </div>
    
    <div class="product-filters-section d-grid">
        <button class="btn product-filters-button" type="button" @onclick="() => ToggleSectionCollapse( SECTION_VENDORS )">
            <span>Vendors</span>
            <i class="oi @GetCollapseIcon( SECTION_VENDORS )"></i>
        </button>
        <div class="@GetCollapseDisplay( SECTION_VENDORS )">
            @foreach ( VendorDto v in _vendors )
            {
                <div class="form-check">
                    <input type="checkbox" class="form-check-input"
                           @bind="@_selectedVendors[ v.VendorId ]" id="@v.VendorId"/>
                    <label class="form-check-label" for="@v.VendorId">@v.VendorName</label>
                </div>
            }
        </div>
    </div>

    @foreach ( LookupSpec s in _specs.Values )
    {
        <div class="product-filters-section d-grid">
            <button class="btn product-filters-button" type="button" @onclick="() => ToggleSectionCollapse( s.SpecName )">
                <span>@s.SpecName</span>
                <i class="oi @GetCollapseIcon( s.SpecName )"></i>
            </button>
            
            <div class="@GetCollapseDisplay( s.SpecName )">
                @for ( int i = 0; i < s.Values.Count; i++ )
                {
                    int index = i;
                    string id = s.SpecName + index;
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input"
                               @bind="@_selectedSpecs[ ( s.SpecId, index ) ]" id="@id"/>
                        <label class="form-check-label" for="@id">@s.Values[ index ]</label>
                    </div>
                }
            </div>
        </div>
    }
</div>
