@page "/admin/categories/view"
@using BlazorElectronics.Shared.Outbound.Categories

@inherits AdminView

<h3>AdminCategoriesView</h3>

@if ( !IsAuthorized || !IsLoaded || Categories is null )
{
    <span>@Message</span>
}
else
{
    <div class="row">
        <div class="col-4 px-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4>Primary</h4>
                <button class="btn btn-primary" @onclick="( () => CreateNewCategory( 1 ) )">
                    <i class="oi oi-plus"></i> Add New Primary Category
                </button>
            </div>
            @foreach ( PrimaryCategoryResponse p in Categories.Primary )
            {
                <div class="row admin-view-row align-items-center">
                    <div class="col">
                        @p.Id
                    </div>
                    <div class="col">
                        @p.Name
                    </div>
                    <div class="col">
                        @p.Url
                    </div>
                    <div class="col">
                        @p.ImageUrl
                    </div>
                    <div class="col text-nowrap">
                        <button class="btn btn-primary" @onclick="( () => EditCategory( p.Id, 1 ) )">
                            <i class="oi oi-pencil"></i>
                        </button>
                        <button class="btn btn-primary" @onclick="(async () => await RemoveCategory( p.Id, 1 ) )">
                            <i class="oi oi-trash"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-4 px-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4>Secondary</h4>
                <button class="btn btn-primary" @onclick="( () => CreateNewCategory( 1 ) )">
                    <i class="oi oi-plus"></i> Add New Primary Category
                </button>
            </div>
            @foreach ( SecondaryCategoryResponse s in Categories.Secondary )
            {
                <div class="row admin-view-row align-items-center">
                    <div class="col">
                        @s.Id
                    </div>
                    <div class="col">
                        @s.Name
                    </div>
                    <div class="col">
                        @s.Url
                    </div>
                    <div class="col">
                        @s.ImageUrl
                    </div>
                    <div class="col text-nowrap">
                        <button class="btn btn-primary" @onclick="( () => EditCategory( s.Id, 2 ) )">
                            <i class="oi oi-pencil"></i>
                        </button>
                        <button class="btn btn-primary" @onclick="( async () => await RemoveCategory( s.Id, 2 ) )">
                            <i class="oi oi-trash"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-4 px-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4>Primary</h4>
                <button class="btn btn-primary" @onclick="( () => CreateNewCategory( 1 ) )">
                    <i class="oi oi-plus"></i> Add New Primary Category
                </button>
            </div>
            @foreach ( TertiaryCategoryResponse t in Categories.Tertiary )
            {
                <div class="row admin-view-row align-items-center">
                    <div class="col">
                        @t.Id
                    </div>
                    <div class="col">
                        @t.Name
                    </div>
                    <div class="col">
                        @t.Url
                    </div>
                    <div class="col">
                        @t.ImageUrl
                    </div>
                    <div class="col text-nowrap">
                        <button class="btn btn-primary" @onclick="( () => EditCategory( t.Id, 3 ) )">
                            <i class="oi oi-pencil"></i>
                        </button>
                        <button class="btn btn-primary" @onclick="( async () => await RemoveCategory( t.Id, 3 ) )">
                            <i class="oi oi-trash"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>   
}