@page "/profile"

@inherits UserView

<h3>User Profile</h3>

@if ( PageIsRedirecting )
{
    <div class="loading-container">
        <div class="loading-circle"></div>
        <p>@RazorViewMessage</p>
        <p>Redirecting in @PageRedirectCountdown...</p>
    </div>
}
else if ( !PageIsReady() )
{
    <span>@RazorViewMessage</span>
}
else
{
    <h5>Change Password</h5>

    <EditForm Model="_changePasswordRequest" OnValidSubmit="@(async () => await ChangePassword() )">
        <div class="mb-3">
            <label for="password">New Password</label>
            <InputText class="form-control" id="password" @bind-Value="_changePasswordRequest.Password" type="password"/>
            <ValidationMessage For="@(() => _changePasswordRequest.Password)"/>
        </div>
        <div class="mb-3">
            <label for="confirm-password">Confirm New Password</label>
            <InputText class="form-control" id="confirm-password" @bind-Value="_changePasswordRequest.ConfirmPassword" type="password"/>
            <ValidationMessage For="@(() => _changePasswordRequest.ConfirmPassword)"/>
        </div>
        <button class="btn btn-primary" type="submit">Apply</button>
    </EditForm>
}