@page "/admin/categories/view"
@using BlazorElectronics.Shared.Admin.Categories
@using BlazorElectronics.Shared.Enums
@inherits AdminView

<div class="container-sm">
    @if ( PageIsRedirecting )
    {
        <div class="loading-container">
            <div class="loading-circle"></div>
            <p>@ViewMessage</p>
            <p>Redirecting in @PageRedirectCountdown...</p>
        </div>
    }
    else if ( !PageIsReady() )
    {
        <span>@ViewMessage</span>
    }
    else
    {
        <h3>Categories View</h3>
        
        if ( !string.IsNullOrWhiteSpace( ViewMessage ) )
        {
            <div class="@ViewMessageClass">
                <span>@ViewMessage</span>
            </div>
        }
    
        if ( !string.IsNullOrWhiteSpace( ActionMessage ) )
        {
            <div class="@ActionMessageClass">
                <span>@ActionMessage</span>
            </div>
        }
        
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <button class="nav-link @(_activeCategory == CategoryType.PRIMARY ? "active" : "")" @onclick="() => SetActiveCategory( CategoryType.PRIMARY )">Primary</button>
            </li>
            <li class="nav-item">
                <button class="nav-link @(_activeCategory == CategoryType.SECONDARY ? "active" : "")" @onclick="() => SetActiveCategory( CategoryType.SECONDARY )">Secondary</button>
            </li>
            <li class="nav-item">
                <button class="nav-link @(_activeCategory == CategoryType.TERTIARY ? "active" : "")" @onclick="() => SetActiveCategory( CategoryType.TERTIARY )">Tertiary</button>
            </li>
        </ul>

        @if ( _activeCategory == CategoryType.PRIMARY )
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                <button class="btn btn-primary" @onclick="( () => CreateNewCategory( CategoryType.PRIMARY ) )">
                    <i class="oi oi-plus"></i> Create New @CategoryType.PRIMARY
                </button>
            </div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th class="sortable-header" @onclick="() => SortById( CategoryType.PRIMARY, CategoryType.PRIMARY )">Primary Category ID</th>
                    <th class="sortable-header" @onclick="() => SortByName( CategoryType.PRIMARY )">Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach ( CategoryViewDto p in _categories.Primary )
                {
                    <tr class="admin-view-row">
                        <td>@p.PrimaryCategoryId</td>
                        <td>@p.Name</td>
                        <td class="text-nowrap">
                            <button class="btn btn-primary" @onclick="( () => EditCategory( p.PrimaryCategoryId, CategoryType.PRIMARY ) )">
                                <i class="oi oi-pencil"></i>
                            </button>
                            <button class="btn btn-primary" @onclick="( async () => await RemoveCategory( p.PrimaryCategoryId, CategoryType.PRIMARY ) )">
                                <i class="oi oi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else if ( _activeCategory == CategoryType.SECONDARY )
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                <button class="btn btn-primary" @onclick="( () => CreateNewCategory( CategoryType.SECONDARY ) )">
                    <i class="oi oi-plus"></i> Create New @CategoryType.SECONDARY
                </button>
            </div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th class="sortable-header" @onclick="() => SortById( CategoryType.SECONDARY, CategoryType.PRIMARY )">Primary Category ID</th>
                    <th class="sortable-header" @onclick="() => SortById( CategoryType.SECONDARY, CategoryType.SECONDARY )">Secondary Category ID</th>
                    <th class="sortable-header" @onclick="() => SortByName( CategoryType.SECONDARY )">Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach ( CategoryViewDto s in _categories.Secondary )
                {
                    <tr class="admin-view-row">
                        <td>@s.PrimaryCategoryId</td>
                        <td>@s.SecondaryCategoryId</td>
                        <td>@s.Name</td>
                        <td class="text-nowrap">
                            <button class="btn btn-primary" @onclick="( () => EditCategory( s.SecondaryCategoryId, CategoryType.SECONDARY ) )">
                                <i class="oi oi-pencil"></i>
                            </button>
                            <button class="btn btn-primary" @onclick="( async () => await RemoveCategory( s.SecondaryCategoryId, CategoryType.SECONDARY ) )">
                                <i class="oi oi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                <button class="btn btn-primary" @onclick="( () => CreateNewCategory( CategoryType.TERTIARY ) ) ">
                    <i class="oi oi-plus"></i> Create New @CategoryType.TERTIARY
                </button>
            </div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th class="sortable-header" @onclick="() => SortById( CategoryType.TERTIARY, CategoryType.PRIMARY ) ">Primary Category ID</th>
                    <th class="sortable-header" @onclick="() => SortById( CategoryType.TERTIARY, CategoryType.SECONDARY ) ">Secondary Category ID</th>
                    <th class="sortable-header" @onclick="() => SortById( CategoryType.TERTIARY, CategoryType.TERTIARY ) ">Tertiary Category ID</th>
                    <th class="sortable-header" @onclick="() => SortByName( CategoryType.TERTIARY ) ">Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach ( CategoryViewDto t in _categories.Tertiary )
                {
                    <tr class="admin-view-row">
                        <td>@t.PrimaryCategoryId</td>
                        <td>@t.SecondaryCategoryId</td>
                        <td>@t.TertiaryCategoryId</td>
                        <td>@t.Name</td>
                        <td class="text-nowrap">
                            <button class="btn btn-primary" @onclick="( () => EditCategory( t.TertiaryCategoryId, CategoryType.TERTIARY ) ) ">
                                <i class="oi oi-pencil"></i>
                            </button>
                            <button class="btn btn-primary" @onclick="( async () => await RemoveCategory( t.TertiaryCategoryId, CategoryType.TERTIARY ) ) ">
                                <i class="oi oi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    
    }
</div>

