@page "/admin/specs/view"
@using BlazorElectronics.Shared.SpecLookups
@using BlazorElectronics.Shared.Admin.SpecLookups
@inherits AdminView

@if ( PageIsRedirecting )
{
    <div class="loading-container">
        <div class="loading-circle"></div>
        <p>@ViewMessage</p>
        <p>Redirecting in @PageRedirectCountdown...</p>
    </div>
}
else if ( !PageIsReady() )
{
    <span>@ViewMessage</span>
}
else
{
    if ( !string.IsNullOrWhiteSpace( ViewMessage ) )
    {
        <div class="@ViewMessageClass">
            <span>@ViewMessage</span>
        </div>
    }

    if ( !string.IsNullOrWhiteSpace( ActionMessage ) )
    {
        <div class="@ActionMessageClass">
            <span>@ActionMessage</span>
        </div>
    }

    <div class="row">
        <div class="col-12 px-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h3>Specifications View</h3>
                <button class="btn btn-primary" @onclick="CreateNewSpec">
                    <i class="oi oi-plus"></i> Create New
                </button>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th @onclick="SortById">Spec ID</th>
                    <th @onclick="SortByName">Spec Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach ( SpecLookupViewDto v in _specs )
                {
                    <tr>
                        <td>@v.SpecId</td>
                        <td>@v.SpecName</td>
                        <td class="text-nowrap">
                            <button class="btn btn-primary" @onclick="( () => EditSpec( v.SpecId ) )">
                                <i class="oi oi-pencil"></i>
                            </button>
                            <button class="btn btn-primary" @onclick="( async () => await RemoveSpec( v.SpecId ) )">
                                <i class="oi oi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

}