@page "/admin/categories/view"
@using BlazorElectronics.Shared.Admin.Categories
@inherits AdminView

@if ( PageIsRedirecting )
{
    <div class="loading-container">
        <div class="loading-circle"></div>
        <p>@Message</p>
        <p>Redirecting in @PageRedirectCountdown...</p>
    </div>
}
else if ( !PageIsReady() )
{
    <span>@Message</span>
}
else
{
    <h3>Categories View</h3>
    if ( !string.IsNullOrWhiteSpace( Message ) )
    {
        <div class="@MessageCssClass">
            <span>@Message</span>
        </div>
    }
    <div class="row">
        <div class="col-4 px-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4>Primary</h4>
                <button class="btn btn-primary" @onclick="( () => CreateNewCategory( 1 ) )">
                    <i class="oi oi-plus"></i> Create New
                </button>
            </div>
            @foreach ( CategoryPrimaryViewDto p in _category.Primary )
            {
                <div class="row admin-view-row align-items-center">
                    <div class="col">
                        @p.PrimaryCategoryId
                    </div>
                    <div class="col">
                        @p.Name
                    </div>
                    <div class="col text-nowrap">
                        <button class="btn btn-primary" @onclick="( () => EditCategory( p.PrimaryCategoryId, 1 ) )">
                            <i class="oi oi-pencil"></i>
                        </button>
                        <button class="btn btn-primary" @onclick="(async () => await RemoveCategory( p.PrimaryCategoryId, 1 ) )">
                            <i class="oi oi-trash"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-4 px-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4>Secondary</h4>
                <button class="btn btn-primary" @onclick="( () => CreateNewCategory( 1 ) )">
                    <i class="oi oi-plus"></i> Create New
                </button>
            </div>
            @foreach ( CategorySecondaryViewDto s in _category.Secondary )
            {
                <div class="row admin-view-row align-items-center">
                    <div class="col">
                        @s.SecondaryCategoryId
                    </div>
                    <div class="col">
                        @s.Name
                    </div>
                    <div class="col text-nowrap">
                        <button class="btn btn-primary" @onclick="( () => EditCategory( s.SecondaryCategoryId, 2 ) )">
                            <i class="oi oi-pencil"></i>
                        </button>
                        <button class="btn btn-primary" @onclick="( async () => await RemoveCategory( s.SecondaryCategoryId, 2 ) )">
                            <i class="oi oi-trash"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-4 px-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4>Primary</h4>
                <button class="btn btn-primary" @onclick="( () => CreateNewCategory( 1 ) )">
                    <i class="oi oi-plus"></i> Create New
                </button>
            </div>
            @foreach ( CategoryTertiaryViewDto t in _category.Tertiary )
            {
                <div class="row admin-view-row align-items-center">
                    <div class="col">
                        @t.TertiaryCategoryId
                    </div>
                    <div class="col">
                        @t.Name
                    </div>
                    <div class="col text-nowrap">
                        <button class="btn btn-primary" @onclick="( () => EditCategory( t.TertiaryCategoryId, 3 ) )">
                            <i class="oi oi-pencil"></i>
                        </button>
                        <button class="btn btn-primary" @onclick="( async () => await RemoveCategory( t.TertiaryCategoryId, 3 ) )">
                            <i class="oi oi-trash"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>   
}