@page "/admin/features/view"
@using BlazorElectronics.Shared.Enums
@using BlazorElectronics.Shared.Admin.Features
@inherits AdminView

<div class="container-sm">
    @if ( PageIsRedirecting )
    {
        <div class="loading-container">
            <div class="loading-circle"></div>
            <p>@ViewMessage</p>
            <p>Redirecting in @PageRedirectCountdown...</p>
        </div>
    }
    else if ( !PageIsReady() )
    {
        <span>@ViewMessage</span>
    }
    else
    {
        <h3>Features View</h3>
        
        if ( !string.IsNullOrWhiteSpace( ViewMessage ) )
        {
            <div class="@ViewMessageClass">
                <span>@ViewMessage</span>
            </div>
        }

        if ( !string.IsNullOrWhiteSpace( ActionMessage ) )
        {
            <div class="@ActionMessageClass">
                <span>@ActionMessage</span>
            </div>
        }

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <button class="nav-link @( _activeFeature == FeatureType.DEAL ? "active" : "")" @onclick="() => SetActiveFeature( FeatureType.DEAL )">Featured Deals</button>
            </li>
            <li class="nav-item">
                <button class="nav-link @( _activeFeature == FeatureType.PRODUCT ? "active" : "")" @onclick="() => SetActiveFeature( FeatureType.PRODUCT )">Featured Products</button>
            </li>
        </ul>

        @if ( _activeFeature == FeatureType.DEAL )
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                <button class="btn btn-primary" @onclick="( () => CreateNewFeature( FeatureType.DEAL ) )">
                    <i class="oi oi-plus"></i> Create New @FeatureType.DEAL
                </button>
            </div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th class="sortable-header" @onclick="() => SortById( FeatureType.DEAL )">Product Id</th>
                    <th class="sortable-header" @onclick="() => SortByName( FeatureType.DEAL )">Product Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach ( FeaturedDealEditDto d in _features.FeaturedDeals )
                {
                    <tr class="admin-view-row">
                        <td>@d.ProductId</td>
                        <td>@d.ProductName</td>
                        <td class="text-nowrap">
                            <button class="btn btn-primary" @onclick="( async () => await RemoveFeature( FeatureType.DEAL, d.ProductId ) )">
                                <i class="oi oi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else if ( _activeFeature == FeatureType.PRODUCT )
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                <button class="btn btn-primary" @onclick="( () => CreateNewFeature( FeatureType.PRODUCT ) )">
                    <i class="oi oi-plus"></i> Create New @FeatureType.PRODUCT
                </button>
            </div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th class="sortable-header" @onclick="() => SortById( FeatureType.PRODUCT )">Product Id</th>
                    <th class="sortable-header" @onclick="() => SortByName( FeatureType.PRODUCT )">Product Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach ( FeaturedProductEditDto p in _features.FeaturedProducts )
                {
                    <tr class="admin-view-row">
                        <td>@p.ProductId</td>
                        <td>@p.ProductName</td>
                        <td class="text-nowrap">
                            <button class="btn btn-primary" @onclick="( () => EditFeaturedProduct( p.ProductId ) ) ">
                                <i class="oi oi-pencil"></i>
                            </button>
                            <button class="btn btn-primary" @onclick="( async () => await RemoveFeature( FeatureType.PRODUCT, p.ProductId ) )">
                                <i class="oi oi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    }
</div>