@page "/admin/specs/view"
@using BlazorElectronics.Shared.SpecLookups
@inherits AdminView

<div class="container-sm">
    @if ( PageIsRedirecting )
    {
        <div class="loading-container">
            <div class="loading-circle"></div>
            <p>@ViewMessage</p>
            <p>Redirecting in @PageRedirectCountdown...</p>
        </div>
    }
    else if ( !PageIsReady() )
    {
        <span>@ViewMessage</span>
    }
    else
    {
        if ( !string.IsNullOrWhiteSpace( ViewMessage ) )
        {
            <div class="@ViewMessageClass">
                <span>@ViewMessage</span>
            </div>
        }
    
        if ( !string.IsNullOrWhiteSpace( ActionMessage ) )
        {
            <div class="@ActionMessageClass">
                <span>@ActionMessage</span>
            </div>
        }
    
        <div class="row">
            <div class="col-12 px-3">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h3>Spec Lookups View</h3>
                    <button class="btn btn-primary" @onclick="CreateNewSpec">
                        <i class="oi oi-plus"></i> Create New
                    </button>
                </div>
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th class="sortable-header" @onclick="SortById">Spec ID</th>
                        <th class="sortable-header" @onclick="SortByName">Spec Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach ( SpecLookupViewDto v in _specs )
                    {
                        <tr class="admin-view-row">
                            <td>@v.SpecId</td>
                            <td>@v.SpecName</td>
                            <td class="text-nowrap">
                                <button class="btn btn-primary" @onclick="( () => EditSpec( v.SpecId ) )">
                                    <i class="oi oi-pencil"></i>
                                </button>
                                <button class="btn btn-primary" @onclick="( async () => await RemoveSpec( v.SpecId ) )">
                                    <i class="oi oi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    
    }
</div>