@using BlazorElectronics.Shared.Categories
@inherits RazorView

@if ( _show )
{
    <div class="nav-sidebar bg-light">
        <div class="p-3 bg-dark d-flex align-items-center justify-content-between">
            <div>
                @if ( _sessionMeta is not null )
                {
                    <a class="text-decoration-none link-light fs-5" href="@Routes.ACCOUNT_DETAILS">
                        <i class="oi oi-person"></i>
                        <span class="ms-2">Welcome, @_sessionMeta.Username</span>
                    </a>
                }
                else
                {
                    <a class="text-decoration-none link-light fs-5" href="@Routes.LOGIN">
                        <i class="oi oi-person"></i>
                        <span class="ms-2">Hello, Sign In</span>
                    </a>
                }
            </div>
            <button class="btn btn-close-white" @onclick="() => ToggleSidebar( false )">
                <i class="oi oi-x"></i>
            </button>
        </div>
        
        <nav>
            <h5 class="sidebar-header">Shop Products</h5>
            <ul class="mb-3 nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="@Routes.SEARCH">All Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Routes.PARAM_SEARCH_FEATURED_DEALS">Featured</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Routes.SALES">On Sale</a>
                </li>
            </ul>
            
            <hr/>
            
            <div class="d-flex align-items-center justify-content-start">
                @if ( _currentParentId.HasValue )
                {
                    <button class="btn border-end" @onclick="PreviousCategory">
                        <i class="oi oi-caret-left"></i> Back
                    </button>
                }
                <h5 class="sidebar-header mb-0">Shop Categories</h5>
            </div>
            <ul class="mb-3 nav flex-column">
                @foreach ( CategoryFullDto c in GetCurrentCategories() )
                {
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link flex-grow-1" href="@Routes.SEARCH/@c.ApiUrl">@c.Name</a>
                        @if ( c.Children.Any() )
                        {
                            <button class="btn" @onclick="() => NextCategory( c )">
                                <i class="oi oi-caret-right"></i>
                            </button>
                        }
                    </li>
                }
            </ul>
            
            <hr/>
            
            <h5 class="sidebar-header">Account</h5>
            <ul class="mb-3 nav flex-column">
                @if ( !_isAuthorized )
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Routes.LOGIN">Sign In</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Routes.ACCOUNT_DETAILS">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Routes.ACCOUNT_ORDERS">Purchases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Routes.ACCOUNT_SESSIONS">Sessions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Routes.LOGOUT">Logout</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
}