@page "/admin/crud/vendors"
@using BlazorElectronics.Shared;
@using BlazorElectronics.Shared.Enums
@using BlazorElectronics.Shared.Vendors;
@inherits CrudPage<CrudView, VendorEdit>

<div class="container-sm form-wrapper">
    <PageLoader Page="@this"></PageLoader>

    @if ( PageIsReady() )
    {
        if ( !IsEditing )
        {
            <CrudViewTable Page="@this"></CrudViewTable>
        }
        else
        {
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-primary" type="button" @onclick="@GoBack">
                    <span class="oi oi-plus"></span> Back
                </button>
                <h3>@PageTitle</h3>
            </div>
            
            <EditForm Model="ItemEdit" OnSubmit="( async () => await Submit() )">
                <div class="mb-3">
                    <label for="Name" class="form-label">Vendor Name</label>
                    <InputText @bind-Value="ItemEdit.VendorName" class="form-control" id="Name"></InputText>
                </div>
                <div class="mb-3">
                    <label for="Url" class="form-label">Vendor Url</label>
                    <InputText @bind-Value="ItemEdit.VendorName" class="form-control" id="Url"></InputText>
                </div>
                <div class="mb-3">
                    <label for="Categories" class="form-label">Spec Name</label>
                    <InputSelect multiple="@true" @bind-Value="ItemEdit.PrimaryCategories" class="form-control" id="Categories">
                        @foreach ( PrimaryCategory option in Enum.GetValues<PrimaryCategory>() )
                        {
                            <option value="@option">@option</option>
                        }
                    </InputSelect>
                </div>
                <div class="mb-3 form-check">
                    <InputCheckbox @bind-Value="ItemEdit.IsGlobal" class="form-check-input" id="Global"></InputCheckbox>
                    <label class="form-check-label" for="Global">Is Global</label>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="oi oi-cloud-upload"></i>
                </button>
            </EditForm>

            <ActionMessage Page="@this"></ActionMessage>
        }
    }
</div>