@page "/admin/crud/spec-lookups"
@using BlazorElectronics.Shared;
@using BlazorElectronics.Shared.SpecLookups;
@using BlazorElectronics.Client.Models
@inherits CrudPage<CrudView, SpecLookupEdit>

<div class="container-sm form-wrapper">
    <PageLoader Page="@this"></PageLoader>

    @if ( PageIsReady() )
    {
        if ( !IsEditing )
        {
            <CrudViewTable Page="@this"></CrudViewTable>
        }
        else
        {
            <CrudEditTitle Page="@this"></CrudEditTitle>
            
            <EditForm Model="ItemEdit" OnSubmit="( async () => await Submit() )">
                <div class="mb-3">
                    <label for="Name" class="form-label">Spec Name</label>
                    <InputText @bind-Value="ItemEdit.SpecName" class="form-control" id="Name"></InputText>
                </div>
                <div class="mb-3">
                    <h4>Category Selection</h4>
                    @foreach ( CategorySelectionOption option in CategoryHelper.PrimarySelection )
                    {
                        <div class="form-check">
                            <InputCheckbox @bind-Value="option.IsSelected" class="form-check-input" id="@option.Id"/>
                            <label class="form-check-label" for="@option.Id">@option.Name</label>
                        </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="Values" class="form-label">Values: comma separated, sorted</label>
                    <InputTextArea @bind-Value="ItemEdit.ValuesByIdAsString" class="form-control" id="Values"></InputTextArea>
                </div>
                <div class="mb-3 form-check">
                    <InputCheckbox @bind-Value="ItemEdit.IsGlobal" class="form-check-input" id="Global"></InputCheckbox>
                    <label class="form-check-label" for="Global">Is Global</label>
                </div>
                
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success btn-icon">
                        <i class="oi oi-cloud-upload"></i> Submit
                    </button>
                </div>
            </EditForm>

            <ActionMessage Page="@this"></ActionMessage>
        }
    }
</div>