@page "/admin/crud/featured-deals"
@using BlazorElectronics.Shared;
@using BlazorElectronics.Shared.Features;
@inherits CrudPage<CrudView, FeaturedDealEdit>

<div class="container-sm form-wrapper">
    <PageLoader Page="@this"></PageLoader>

    @if ( PageIsReady() )
    {
        if ( !IsEditing )
        {
            <CrudViewTable Page="@this"></CrudViewTable>
        }
        else
        {
            <CrudEditTitle Page="@this"></CrudEditTitle>

            <EditForm Model="ItemEdit" OnSubmit="( async () => await Submit() )">
                <div class="mb-3">
                    <p>Product Name: @ItemEdit.ProductName</p>
                </div>
                <div class="mb-3">
                    <p>Price: @ItemEdit.Price</p>
                </div>
                <div class="mb-3">
                    <p>Sale Price: @ItemEdit.SalePrice</p>
                </div>
                
                <div class="mb-3">
                    <label for="ImageUrl" class="form-label">Image Url</label>
                    <InputText @bind-Value="ItemEdit.Image" class="form-control" id="ImageUrl"></InputText>
                </div>

                <div class="mb-3">
                    <label for="ImageUrl" class="form-label">Image Url</label>
                    <InputText @bind-Value="ItemEdit.Image" class="form-control" id="ImageUrl"></InputText>
                </div>
                
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success btn-icon">
                        <i class="oi oi-cloud-upload"></i> Submit
                    </button>
                </div>
            </EditForm>

            <ActionMessage Page="@this"></ActionMessage>
        }
    }
</div>