@page "/admin/crud/vendors"
@using BlazorElectronics.Shared;
@using BlazorElectronics.Shared.Vendors;
@using BlazorElectronics.Client.Models
@inherits CrudPage<CrudView, VendorEdit>

<div class="container-sm form-wrapper">
    <PageLoader Page="@this"></PageLoader>

    @if ( PageIsReady() )
    {
        if ( !IsEditing )
        {
            <CrudViewTable Page="@this"></CrudViewTable>
        }
        else
        {
            <CrudEditTitle Page="@this"></CrudEditTitle>
            
            <EditForm Model="ItemEdit" OnSubmit="( async () => await Submit() )">
                <div class="mb-3">
                    <label for="Name" class="form-label">Vendor Name</label>
                    <InputText @bind-Value="ItemEdit.VendorName" class="form-control" id="Name"></InputText>
                </div>
                
                <div class="mb-3">
                    <label for="Url" class="form-label">Vendor Url</label>
                    <InputText @bind-Value="ItemEdit.VendorUrl" class="form-control" id="Url"></InputText>
                </div>
                
                @if ( !ItemEdit.IsGlobal )
                {
                    <div class="mb-3">
                        <h4>Category Selection</h4>
                        @foreach ( CategorySelectionOption option in CategoryHelper.PrimarySelection )
                        {
                            <div class="form-check">
                                <InputCheckbox @bind-Value="option.IsSelected" class="form-check-input" id="@option.Id"/>
                                <label class="form-check-label" for="@option.Id">@option.Name</label>
                            </div>
                        }
                    </div>
                }

                <div class="mb-3 form-check">
                    <input type="checkbox" checked="@ItemEdit.IsGlobal" @onchange="HandleGlobalChange" class="form-check-input" id="Global" />
                    <label class="form-check-label" for="Global">Is Global</label>
                </div>
                
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success btn-icon">
                        <i class="oi oi-cloud-upload"></i> Submit
                    </button>
                </div>
            </EditForm>

            <ActionMessage Page="@this"></ActionMessage>
        }
    }
</div>